<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
	<title>All products</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
	<link href="/css/login.css" rel="stylesheet" id="login-css">
</head>

<body>
	<header th:insert="fragments/header.html :: header"> </header>
	
	<div class="container my-3">
		<table class="table">
			<thead>
				<tr>
					<th> Id </th>
					<th> Name </th>
					<th> Price </th>
					<th> Created at </th>
					<th> Update at </th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${products.empty}">
					<td colspan="2"> No Products Available </td>
				</tr>
				<tr th:unless="${products.empty}" th:each="product : ${products}">
					<th scope="row"><span th:text="${product.id}"> id </span></th>
					<td><span th:text="${product.name}"> Name </span></td>
					<td><span th:text="${product.price}"> Price </span></td>
					<td><span th:text="${#dates.format(product.createdAt, 'dd-MMM-yyyy')}"> Created at </span></td>
					<td><span th:text="${#dates.format(product.updateAt, 'dd-MMM-yyyy')}"> Update at </span></td>
					<td>
						<a type="button" class="btn btn-outline-success" th:href="@{/product/{id}(id=${product.id})}">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
								class="bi bi-pencil-square" viewBox="0 0 16 16">
								<path
									d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
								<path fill-rule="evenodd"
									d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
							</svg>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<a type="button" class="btn btn-outline-success" th:href="@{/product/new}">
			Create product
		</a>
	</div>
</body>

</html>